.extension {
  width: 334px;
  height: 493px;
}

.header {
  background-color: #ff7a00;
  width: 334px;
  height: 37px;
  color: white;
  font-size: 1.2em;
  text-align: center;
  border-radius: 5px;
}

.websiteName {
  display: flex;
  align-items: center;
  width: 50px;
}

.website {
  display: flex;
  align-items: center;
}

.report {
  display: flex;
  background-color: #000000;
  border-radius: 5px;
  padding-left: 40px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.rep {
  display: flex;
  align-items: center;
  height: 40px;
  color: white;
  justify-content: space-around;
}

.worstBadge {
  /* margin-left: 30px; */
  background-color: #f40602;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  position: absolute;
  right: 22px;
}

.badBadge {
  /* margin-left: 30px; */
  background-color: #fc950b;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  position: absolute;
  right: 22px;
}

.okBadge {
  /* margin-left: 30px; */
  background-color: #ffd303;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  position: absolute;
  right: 22px;
}

.goodBadge {
  /* margin-left: 30px; */
  background-color: #82e104;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  position: absolute;
  right: 22px;
}

.excellentBadge {
  background-color: #1bb003;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  position: absolute;
  right: 22px;
}
